html,
body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;

  --shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.8);
  --shadow-accent: 0 2px 50px -1px rgba(0, 0, 0, 0.8);
  --color-primary: #36b37e;
}

body {
  display: block;
  background: #fff;
  font-family: "Inter", sans-serif;
}

ul li {
  list-style: none;
}

/* Tipography */
h1,
h2 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

h1 span {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #36b37e;
}

.aboutme {
  float: left;
  font-size: 20px;
  font-weight: 400px;
  line-height: 32px;
  letter-spacing: 1em;
  text-align: center;
  margin: 1em 1em;
}

.about-me-cat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
}

.aboutmeimage {
  /* prettier-ignore */
  background: url(./asset/illustration_1-about_me-mobile.svg) no-repeat 100% 0%, url(./asset/illustration_2-about_me_mobile.svg) no-repeat 0 300px;
  text-align: center;
  padding: 2em;
}

@media (min-width: 768px) {
  .aboutmeimage {
    /* prettier-ignore */
    background: url(./asset/about_me_desktop_left.svg) no-repeat 0% 20%, url(./asset/about_me_desktop_rigth.svg) no-repeat 100% 0%;
  }
}

.headline {
  background: #fff url(./asset/header-illsutration-mobile.svg) no-repeat 0% 100%;
  background-size: 100%;
  height: 800px;
  overflow: hidden;
  margin: 1em auto;
  width: 100%;
}

@media (min-width: 768px) {
  .headline {
    background: #fff url(./asset/Header-llustration-desktop.svg) no-repeat;
    background-size: 100%;
    overflow: hidden;
    max-width: 1484px;
  }
}

button {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  width: fit-content;
  align-self: center;
  background: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 1em 1.5em;
  color: white;
  border-radius: 3px;
}

.container-flex {
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -200px;
}

.nav-desktop {
  display: none;
}

.nav-desktop li {
  list-style: none;
  padding: 0;
  margin: 1em;
  font-size: 14px;
  font-weight: bold;
  color: #42526e;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 1em;
    margin: 0;
  }
}

.header-nav-phone {
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  display: flex;
  background-color: white;
  align-content: flex-end;
}

.header-logo {
  display: flex;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #032113;
}

@media (min-width: 768px) {
  .header-nav-phone {
    display: flex;
    padding: 0 35px;
    justify-content: space-between;
    align-items: center;
  }

  .menu-btn {
    display: none;
  }

  .header-logo {
    display: none;
  }
}

button:hover {
  box-shadow: 0 8px 16px rgba(8, 242, 144, 0.424);
}

.help {
  display: flex;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
}

.connect {
  display: flex;
  color: #1bdd8c;
  align-content: flex-start;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 82px;
  color: #42526e;
  margin-top: 60px;
  list-style: none;
}

.disabled {
  margin-top: 90px;
  padding-right: 32px;
}

.indicator {
  padding-left: 2px;
}

.social-center {
  text-align: center;
}

@media (min-width: 768px) {
  .mobilehide {
    display: block;
  }
}

/* * Works section* */
.works {
  display: flex;
  font-family: "Inter", sans-serif;
  margin: 1em auto;
  justify-content: center;
  align-content: center;
  align-self: flex-end;
  padding: 1em;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.work-title {
  display: block;
  font-size: 24px;
  padding: 15px;
  align-items: center;
  margin: 1em auto;
  font-weight: 600;
  line-height: 32px;
}

.work-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2em auto;
  width: 350px;
  height: 550px;
  border: 1px lightgrey solid;
  transition: box-shadow 0.4s ease-out;
}

.desk-work-list {
  list-style: none;
}

@media (min-width: 768px) {
  .desk-work-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px repeat(2, 1fr);
    margin: 1em 0.5em;
    text-align: center;
    align-items: center;
    padding: 10px;
  }

  .desk-work-list li {
    display: inline-block;
    justify-content: center;
    margin: 1em 0.5em;
  }
}

@media (max-width: 768px) {
  .desk-work-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px repeat(2, 1fr);
    margin: 1em auto;
    width: 90%;
    text-align: center;
    align-items: center;
    padding: 10px;
  }

  .desk-work-list li {
    display: inline-block;
    justify-content: center;
    margin: 1em 0.2em;
  }
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 1em auto;
  height: 470px;
  width: 327px;
  border-radius: 8px;
  background: #ebf0ee;
  transition: box-shadow 0.4s ease-out;
}

.skill-card:hover {
  box-shadow: var(--shadow);
}

.work-card:hover {
  box-shadow: var(--shadow);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-pop {
  margin-top: 2em;
  margin-bottom: 2em;
  border: none;
  width: fit-content;
  align-self: center;
  background: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 1em 1.5em;
  color: white;
  border-radius: 3px;
}

.work-tags {
  list-style: none;
}

.tag1 {
  background: #fff;
  float: left;
  font-size: 15px;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 8px;
  list-style: none;
}

.tag {
  background: lightgrey;
  float: left;
  font-size: 15px;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 8px;
  list-style: none;
}

.tag1:hover {
  box-shadow: var(--shadow);
  background-color: lightgrey;
}

.work-image {
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  object-fit: cover;
}

.languages {
  background-color: grey;
}

.btn-pop:active {
  background-color: #008552;
}

.header-logo:active {
  background-color: rgba(8, 242, 144, 0.424);
}

.menu-btn:active {
  background-color: rgba(8, 242, 144, 0.424);
}

.info {
  display: flex;
  align-items: center;
  height: 363px;
  width: 327px;
  left: 24px;
  top: 64px;
  border-radius: 3px;
}

.input-email {
  margin-top: 20px;
  align-items: center;
  height: 48px;
  width: 300px;
  border-radius: 4px;
}

.input-first-name,
.input-last-name {
  margin-top: 20px;
  align-items: center;
  height: 48px;
  width: 300px;
  border-radius: 4px;
}

.input-full-name {
  display: flex;
  justify-content: space-between;
}

.text-area {
  margin-top: 20px;
  height: 114px;
  width: 300px;
  border-radius: 4px;
}

.input-email-desk {
  margin-top: 20px;
  align-items: center;
  height: 48px;
  width: 684px;
  border-radius: 4px;
}

.input-first-name-desk,
.input-last-name-desk {
  margin-top: 20px;
  align-items: center;
  height: 48px;
  width: 300px;
  border-radius: 4px;
}

.text-area-desk {
  margin-top: 20px;
  border-radius: 4px;
  height: 114px;
  width: 684px;
}

.mail {
  color: #42526e;
  padding-top: 15px;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  width: 170px;
}

.mail:invalid:required {
  border: red;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: -20px;
  margin: 1em auto;
  width: 327px;
  border-radius: 8px;
  list-style: none;
}

@media (min-width: 768px) {
  .form {
    width: 90%;
    max-width: 900px;
    margin: 1 auto;
    margin-top: 100px;
  }

  .form p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin: 2em 24px;
    text-align: center;
    color: #172b4d;
  }
}

@media (min-width: 768px) {
  .recent-works-desk {
    display: block;
    margin-top: 230px;
    padding-left: 10px;
  }
}

@media (max-width: 768px) {
  .recent-works {
    display: block;
    margin-top: 230px;
    padding-left: 10px;
  }
}

.contact {
  display: grid;
}

@media (max-width: 768px) {
  .formdesk {
    display: block;
    list-style: none;
  }

  .deskform {
    display: none;
  }
}

@media (min-width: 768px) {
  .deskform {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 30px;
    width: 90%;
    grid-auto-flow: column;
    list-style: none;
  }
}

.deskimg {
  /* prettier-ignore */
  background: url(./asset/illustration-1-contact-form-desktop.svg) no-repeat 0% 90%, url(./asset/illustration-2-contact-form-desktop.svg) no-repeat 30% 90%, url(./asset/illustratoin-3-contact-form-desktop.svg) no-repeat 100% 90%;
}

.contactimg {
  /* prettier-ignore */
  background: url(./asset/illustration-contact-form.svg) no-repeat 100% 90%;
}

.img:hover {
  box-shadow: var(--shadow);
}

@media (min-width: 768px) {
  .footer-social {
    display: block;
    height: 1px;
    background: #dfe1e6;
  }
}

.social-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  color: #42526e;
  margin-top: 5rem;
}

.getintouch p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  min-width: 400px;
}

.footer-form {
  display: flex;
  flex-direction: row;
  padding-left: 270px;
  padding-right: 370px;
  margin: 1em 1em;
  text-align: left;
  min-width: 300px;
  max-width: max-content;
}

.form-centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  list-style: none;
}
